.custom-input input {
  outline: none;
  border: none;
  border-bottom: 2px solid grey;
  padding: 10px 10px 5px 10px;
  width: 100%;
  /* margin: 10px 30px; */
  /* border-bottom: grey; */
}
.input-label {
  position: absolute;
  transform: translate(12px, 10px);
  font-size: 80%;
  transition: 100ms;
  color: grey;
}
.input-label-focus {
  transform: translate(0px, -10px);
  color: black;
}
.custom-input {
  margin: 10px 30px;
  width: 100%;
}
