* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0px;
  /* border: 1px dotted red; */
}
h1 {
  color: rgb(83, 83, 0);
}
header {
  width: "100%";
  background-color: aliceblue;
}
body {
  margin: 0;
}
body h1 {
  padding: 10px 30px;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .profile {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  padding: 10px;
  cursor: pointer;
}
.header-options {
  display: flex;
  flex-direction: row;
  text-decoration: none;
}
.header-options > * {
  text-decoration: none;
}
.header-link {
  color: black;
  transition: 0.2s;
  padding: 10px;
}
.header-link:hover {
  background-color: rgb(219, 235, 249);
}
.search-input {
  border-radius: 25px;
  border: 1px solid #8080804a;
  padding: 10px 60px 10px 20px;
  background: #f5faff;
}

.search-container {
  margin: 0 0 0 20px;
}
.search-icon {
  position: relative;
  display: inline;
  right: 35px;
  cursor: pointer;
}
.nav-profile-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.product-banner {
  width: 60%;
  object-fit: contain;
}
.banner-container {
  width: 100%;
  aspect-ratio: 3;
  object-fit: contain;
  background-color: rgb(222, 222, 222);
  display: flex;
  justify-content: center;
}
.banner-button {
  position: absolute;
  /* background: rgba(255, 0, 0, 0.234); */
  width: 100%;
  aspect-ratio: 3;
}
.banner-button div {
  height: 100%;
  width: 10%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  cursor: pointer;
}

.banner-button div:first-child {
  background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
}
.banner-button div:last-child {
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
}

.banner-button div:first-child:hover {
  background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
}
.banner-button div:last-child:hover {
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
}

.fullscreen {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.355);
  z-index: 9999;
  top: 0px;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup-window {
  display: flex;
  flex-direction: column;
  width: fit-content;
  min-width: 300px;
  height: fit-content;
  background-color: white;
  align-items: center;
  border-radius: 5px;
}
.popup-window {
  padding: 30px;
}
.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.login-form button {
  outline: none;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 5px;
  background: #154989;
  font-weight: bold;
  color: white;
  cursor: pointer;
}
.login-form button:hover {
  background: #09213e;

  color: white;
}
.login-options {
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: 0.3s;
  border: 2px solid #154989;
  margin: 0px 0px 30px 0px;
  border-radius: 30px;
}
.login-options h3 {
  padding: 5px 10px;
  transition: 300ms;
  font-weight: lighter;
}
.login-options h3:first-child {
  background-color: #ffffff;
  border-radius: 30px 0px 0px 30px;
}
.login-options h3:last-child {
  background-color: #ffffff;
  border-radius: 0px 30px 30px 0px;
}
.login-options .active {
  background-color: #154989 !important;
  color: white;
  font-weight: bold;
}
.login-animate {
  display: none;
  transition: 0.6s;
}
.login-enter {
  display: block;
  opacity: 0;
}
.login-enter-active {
  opacity: 1;
}
.login-enter-done {
  opacity: 1;
  display: block;
}
.login-exit-done {
  display: none;
  opacity: 0;
}
.login-exit-active {
  opacity: 1;
  display: block;
}
.login-exit {
  opacity: 0;
  display: block;
}
