.sample-div {
  background-color: aquamarine;
  padding: 10px;
  margin-bottom: 10px;
  opacity: 0;
}

.ss-enter {
  opacity: 0;
  transform: translateY(30px);
}
.ss-enter-active {
  opacity: 1;
  transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94), opacity 0.6s;
  transform: translateY(0px);
}
.ss-enter-done {
  opacity: 1;
  transform: translateY(0px);
}

.ss-exit {
  opacity: 1;
  transform: translateY(0px);
}
.ss-exit-active {
  opacity: 0;
  transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94), opacity 0.6s;
  transform: translateY(0px);
}
.ss-exit-done {
  opacity: 0;
  display: none;
  transform: translateY(30px);
}
